html{
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    --abzg: #0084A4;
    --grey: #54595F;
    --yellow: #f5b315;
    --footer: #00363f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FFF9F4; 
    color: var(--grey);
}

.dy_logo{
    height: 24px;
    margin: 16px 0 0 16px;
}

.dashboard_button{
    display: block;
    margin: 48px auto 0 auto;
    border-style: none;
    height: 60px;
    background-color: white;
    border: 2px solid var(--abzg);
    width: 235px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: bold;
    color: var(--abzg);
}

.dashboard_button:hover{
    background-color: var(--abzg);
    color: white;
}

.footer{
    width: calc(100vw - 32px);
    background-color: var(--footer);
    padding: 16px;
    border-radius: 15px 15px 0 0;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.footer_title{
    font-size: 14px;
    color: var(--yellow)
}

.footer_creators{
    color: white;
    font-size: 11px;
}

.center_menu{
    margin: 96px auto 96px auto;
}
